# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Extra
*.suo
*.aps
*.ncb
*.sdf
Better Memory Meter.dsp
Better Memory Meter.dsw


Release/*
Setup/!  Compiled/*
*.opensdf
*.opt
